extends layout

block content

    - var dispo;

    h3 shoes
        div.tabAllShoes
            div.tab
                each shoes in allshoes
                    div.shoesBox
                        img.imgShoes(src='https://www.w3schools.com/css/img_lights.jpg')
                        img.imgShoes(src=shoes.picture)
                        p shoes.pictures
                        p Boutique : #{shoes.code_shop}
                        p #{shoes.desc}
                        p Pointure : #{shoes.size}   -Commander-
                        p #{shoes.picture}
                        p #{shoes.available}
                        p lol

            div.tab
                each shoes in allshoes
                    div.shoesBox
                        p Boutique : #{shoes.code_shop}
                        p #{shoes.desc}
                        p Pointure : #{shoes.size}
        p Lol