extends layout

block content

    a.btn(href="/shop/" + shop.id + "/orderPrice") sort by price
    a.btn(href="/shop/" + shop.id + "/orderPriceDesc") sort by price descending

    h3.titShoes #{shop.name}

    .row
        .col-sm-6#divShoes
            each shoes in allshoes
                li.titleShop
                div.oneShoe
                    h4 Model  #{shoes.model}
                    img.imgShoes(src="/"+shoes.picture alt='shoes')
                    div.headT
                        // - var sho = Shop.findById(#{shoes.code_shop});
                        //h5.shopName Boutique #{sho.name}
                        - var avlb = shoes.available
                        case avlb
                             when true
                                img.imgShoesAva(src="/avail.png" alt='sh')
                             when false
                                img.imgShoesAva(src="/notAvail.gif" alt='sh')


                    p.shoesDesc #{shoes.desc}
                    if avlb
                        p.shoesSize La taille disponnible est : #{shoes.size}
                        a.btn(href="/cart/" + shoes.id) Commander
                    else
                        p.shoesSize La taille disponnible est indisponible
                    p.shoesSize #{shoes.price}€
